body{
	padding: 0px;
	margin:0px;
	background: #3881BA;

}
nav{
	background: #1BA1E2;
	width: 100%;
	list-style: none;
	padding-top: 0px;
	padding-bottom: 5px;
	
	display: inline-block;
	

}
.caja1 {
	background: #D5DCFF;
	width: 100px;
	margin-top: 10px;
	marging-left:20px;
	display: inline-block;
}

ul{
	padding: 1px;
	margin:0px;
}

ul li{
	display: inline-block;
	
}

li p{
	marging-top:0px;
	margin-bottom: 0px;
	padding-bottom: 10px;
}

.caja2{
	background: #D5DCFF;
	width: 220px;
	margin-top: 0px;
	marging-left:20px;
	display: inline-block;

}

.caja ul li{
	display: inline-block;
}

.segundalista{
	padding-top: 11px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 40px;
	width: 192px;
	height: 19px;
}
 .imagen{
 	padding-top: 8px;
 	margin-left: 250px;
 	width: 137pxpx;
 	height: 30px;
 }

.fa-trello{
	color:#fff;
	padding-left: 10px;
}

.parrafo{
	marging-top:0px;
	padding-top: 10px;
	color: #fff;
}

#buscar{
	background: #D5DCFF;
	border:none;
}

.fa-search{
	color: #fff;
}

.lista_2{
	color: #fff;
	margin-left: 20px;
}

.fa-star-o{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.fa-lock{
	margin-left: 10px;
	margin-right: 10px;
}
#boton_principal{
	margin-left: 40px;
	
	border: none;
	border-radius: 3px;
	background: #30688E;
	padding: 10px;
	color:#fff;
	cursor: pointer;
}

#boton_principal:hover {
	background: #214870;

}
.input_titulo{
	margin-left: 2px;
	margin-top:2px;
}


.save{
	display: inline-block;
	margin-left: 2px;
	margin-right: 3px;
	margin-bottom: 3px;
	margin-top: 10px;
	background: #00D660;
	border: none;
	border-radius: 2px;
	padding: 5px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

.titulospan{
	margin-left: 2px;
	display: inline-block;
}

.addButton{
	margin-top: 2px;
	margin-left: 2px;
	margin-bottom: 3px;
	display: inline;
	background: #00D660;
	border: none;
	border-radius: 2px;
	padding: 5px;
	color: #fff;
	font-weight: bold;
	position: relative;
    top: 9px;
}

#container_tareas{
	display: inline-block;
	margin-top: 30px;
}

#tareas{
	
	width: 179px;
	
	display: inline-block;
	margin-left: 20px;
	

}

.nuevodiv{
	background: #C6DDE0;
    display: inline-block;
    width: 179px;
    margin-top:0px;
    margin-left: 20px;
    border-radius:2px;
    padding: 20px 10px;
}

#add{
	background: #C6DDE0;
    display: inline-block;
    width: 234px;
    margin-top:0px;
    margin-left: 20px;
    border-radius:2px;
    padding: 20px 10px;
    
}


.titulo{
	
	display: block;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	
}

.textarea {
	margin-left: 10px;
}

.other{
	background: #C6DDE0;
	width: 190px;
}